---
const currentYear = new Date().getFullYear();
---
<footer class="site-footer">
  <p>© {currentYear} Liderazgo Afectivo® - Todos los derechos reservados</p>
  <div class="librecounterLayer">
    <a class="credit-links" href="https://librecounter.org/referer/show" target="_blank">
      <img style="padding-left: 1rem;" src="https://librecounter.org/counter.svg" alt="Libre Counter" width="30" height="30">
    </a>
  </div>
</footer>

<style>
  .site-footer {
    padding: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
  }

  p {
    margin: 0;
    font-size: 0.9rem;
  }

  @media (max-width: 768px) {
    p {
      font-size: 0.8rem;
    }

    .site-footer {
			padding:0;
		}
  }
</style> 